

/*pre,code { margin: 1.5em 0; white-space: pre; overflow: auto; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
*/
/*code {
  font-family: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace;
  border: none;
  margin: 0.25em 0 1.5em 0;
  display: block;
  color: #222;
}
*/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 87.5%;
	line-height: 1.5em;
	background: #222;
	color: #999;
}

a, a:link, a:visited {
	color: #ee3f3f;
    text-decoration: none;
}


  /* Headings
  --------------------------------------- */

  h1 {
  	font-size: 2.5em;
  	line-height: 1em;
  	margin: 0.6em 0 .2em;
  	font-weight: bold;
  	}

  h2 {
  	font-size: 2.1428em;
  	line-height: 1em;
  	margin: 0.7em 0 .2333em;
  	font-weight: bold;
  	}

  h3 {
  	font-size: 1.7142em;
  	line-height: 1.286em;
  	margin: 0.875em 0 0.2916em;
  	font-weight: bold;
  	}

  h4 {
  	font-size: 1.2857em;
  	line-height: 1.2em;
  	margin: 1.6667em 0 .3887em;
  	font-weight: bold;
  	}

  h5 {
  	font-size: 1em;
  	line-height: 1.5em;
  	margin: 1em 0 .5em;
  	font-weight: bold;
  }

  h6 {
  	font-size: 1em;
  	line-height: 1.5em;
  	margin: 1em 0 .5em;
  	font-weight: normal;
  	}


div#wrapper
{
    width: 800px;
    margin: 0 auto;
}

div#menu
{
    float: left;
    width: 180px;
}

div#menu ul
{
    padding: 0 15px;
    margin: 0;
    bullet-style: none;
}

div#content
{
    width: 600px;
    margin-left: 200px;
}

div#footer
{
    clear: both;
}

table tr th
{
    text-align: left;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
	background-color: #323232;
}

table tr th
{
    text-align: left;
    white-space: nowrap;
	color: #cacaca;
}

table tr td {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}


pre
{
    padding: 5px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: #DDD;
    color: #222;
}
